!!! XML
%root
  %item
    %name 月配列E10（E1005）
    %identifier remap.moon_e1005
    %include{:path => "e1005/non-shift.xml"}
    %include{:path => "e1005/middle-shift.xml"}
      %replacementdef
        %replacementname MIDDLE
        %replacementvalue KeyCode::D
    %include{:path => "e1005/middle-shift.xml"}
      %replacementdef
        %replacementname MIDDLE
        %replacementvalue KeyCode::K
    %include{:path => "e1005/ring-shift.xml"}
      %replacementdef
        %replacementname RING
        %replacementvalue KeyCode::L
  %item
    %name ---
  %item
    %name 全角カンマと読点、全角ビリオドと句点をそれぞれ統合して[キーの右のキーを開放する
    %name (P:， Z:． [:、) -> (P:、 Z:。 [:「)
    %name (P,Zキーで≤や≥が入力されてしまう場合はチェックした方が幸せになれる)
    %identifier remap.blandz
  %item
    %name Y H N -> NULL
    %identifier remap.yhn_null
  %item
    %name ---
  %item
    %name MOD_KEY+U I O P [ ] -> MOD_KEY+Y U I O P [
    %name MOD_KEY+J K L ; , -> MOD_KEY+H J K L ;
    %name MOD_KEY+M , . / -> MOD_KEY+N M , .
  %item
    %name control_L+右手アルファベットをずらす
    %identifier remap.moon_control_l_key
    %include{:path => "e1005/mod_key.xml"}
      %replacementdef
        %replacementname MOD_KEY
        %replacementvalue CONTROL_L
  %item
    %name command_L+右手アルファベットをずらす
    %identifier remap.moon_command_l_key
    %include{:path => "e1005/mod_key.xml"}
      %replacementdef
        %replacementname MOD_KEY
        %replacementvalue COMMAND_L
  %item
    %name shift_L+右手アルファベットをずらす
    %identifier remap.moon_shift_l_key
    %include{:path => "e1005/mod_key.xml"}
      %replacementdef
        %replacementname MOD_KEY
        %replacementvalue SHIFT_L
