!!! XML
%root
  {{JAPANESE_OYAYUBISHIFT_EXTRA}}
  %inputmode_only JAPANESE
  / Ctrol+右手アルファベットをずらす(日本語変換入力ソフトの文節操作等)
  / 上段
  %block
    %config_only remap.yhn_null
    %autogen --KeyToKey-- KeyCode::Y, ModifierFlag::{{MOD_KEY}}, KeyCode::VK_NONE
  %autogen --KeyToKey-- KeyCode::U, ModifierFlag::{{MOD_KEY}}, KeyCode::Y, ModifierFlag::{{MOD_KEY}}, KeyCode::VK_NONE
  %autogen --KeyToKey-- KeyCode::I, ModifierFlag::{{MOD_KEY}}, KeyCode::U, ModifierFlag::{{MOD_KEY}}, KeyCode::VK_NONE
  %autogen --KeyToKey-- KeyCode::O, ModifierFlag::{{MOD_KEY}}, KeyCode::I, ModifierFlag::{{MOD_KEY}}, KeyCode::VK_NONE
  %autogen --KeyToKey-- KeyCode::P, ModifierFlag::{{MOD_KEY}}, KeyCode::O, ModifierFlag::{{MOD_KEY}}, KeyCode::VK_NONE
  %autogen --KeyToKey-- KeyCode::BRACKET_LEFT, ModifierFlag::{{MOD_KEY}}, KeyCode::P, ModifierFlag::{{MOD_KEY}}, KeyCode::VK_NONE
  %autogen --KeyToKey-- KeyCode::BRACKET_RIGHT, ModifierFlag::{{MOD_KEY}}, KeyCode::BRACKET_LEFT, ModifierFlag::{{MOD_KEY}}, KeyCode::VK_NONE
  / 中段
  %block
    %config_only remap.yhn_null
    %autogen --KeyToKey-- KeyCode::H, ModifierFlag::{{MOD_KEY}}, KeyCode::VK_NONE
  %autogen --KeyToKey-- KeyCode::J, ModifierFlag::{{MOD_KEY}}, KeyCode::H, ModifierFlag::{{MOD_KEY}}, KeyCode::VK_NONE
  %autogen --KeyToKey-- KeyCode::K, ModifierFlag::{{MOD_KEY}}, KeyCode::J, ModifierFlag::{{MOD_KEY}}, KeyCode::VK_NONE
  %autogen --KeyToKey-- KeyCode::L, ModifierFlag::{{MOD_KEY}}, KeyCode::K, ModifierFlag::{{MOD_KEY}}, KeyCode::VK_NONE
  %autogen --KeyToKey-- KeyCode::SEMICOLON, ModifierFlag::{{MOD_KEY}}, KeyCode::L, ModifierFlag::{{MOD_KEY}}, KeyCode::VK_NONE
  %autogen --KeyToKey-- KeyCode::QUOTE, ModifierFlag::{{MOD_KEY}}, KeyCode::SEMICOLON, ModifierFlag::{{MOD_KEY}}, KeyCode::VK_NONE
  / 下段
  %block
    %config_only remap.yhn_null
    %autogen --KeyToKey-- KeyCode::N, ModifierFlag::{{MOD_KEY}}, KeyCode::VK_NONE
  %autogen --KeyToKey-- KeyCode::M, ModifierFlag::{{MOD_KEY}}, KeyCode::N, ModifierFlag::{{MOD_KEY}}, KeyCode::VK_NONE
  %autogen --KeyToKey-- KeyCode::COMMA, ModifierFlag::{{MOD_KEY}}, KeyCode::M, ModifierFlag::{{MOD_KEY}}, KeyCode::VK_NONE
  %autogen --KeyToKey-- KeyCode::DOT, ModifierFlag::{{MOD_KEY}}, KeyCode::COMMA, ModifierFlag::{{MOD_KEY}}, KeyCode::VK_NONE
  %autogen --KeyToKey-- KeyCode::SLASH, ModifierFlag::{{MOD_KEY}}, KeyCode::DOT, ModifierFlag::{{MOD_KEY}}, KeyCode::VK_NONE
