!!! XML
%root
  %item
    %name 月配列E10（E1005）
    %identifier remap.moon_m_dev
    %include{:path => "e1005/shift-1.xml"}
    %include{:path => "e1005/shift-2.xml"}
    %include{:path => "e1005/shift-3.xml"}
    %include{:path => "e1005/shift-0.xml"}
