!!! XML
%root
  %item
    %name 月配列E10（E1005）
    %identifier remap.moon_e1005
    %include{:path => "e1005/shift-1.xml"}
      %replacementdef
        %replacementname MIDDLE
        %replacementvalue D
    %include{:path => "e1005/shift-1.xml"}
      %replacementdef
        %replacementname MIDDLE
        %replacementvalue K
    %include{:path => "e1005/shift-2.xml"}
      %replacementdef
        %replacementname RING
        %replacementvalue L
    %include{:path => "e1005/shift-3.xml"}
    %include{:path => "e1005/shift-0.xml"}
