!!! XML
%root
  -#{{JAPANESE_MOON_EXTRA}}
  %inputmode_only JAPANESE

  %block
    /中指シフト
    %lastpressedphysicalkey_only {{MIDDLE}}

    /　～＠＃＄￥|＾’＊（）；：
    /上段 左手 数字キー
    %autogen __HoldingKeyToKey__ KeyCode::BACKQUOTE, ModifierFlag::NONE, KeyCode::DELETE, KeyCode::VK_NONE
    %autogen __HoldingKeyToKey__ KeyCode::KEY_1,     ModifierFlag::NONE, KeyCode::DELETE, KeyCode::VK_STICKY_SHIFT_L, KeyCode::BACKQUOTE
    %autogen __HoldingKeyToKey__ KeyCode::KEY_2,     ModifierFlag::NONE, KeyCode::DELETE,                             KeyCode::JIS_ATMARK
    %autogen __HoldingKeyToKey__ KeyCode::KEY_3,     ModifierFlag::NONE, KeyCode::DELETE, KeyCode::VK_STICKY_SHIFT_L, KeyCode::KEY_3
    %autogen __HoldingKeyToKey__ KeyCode::KEY_4,     ModifierFlag::NONE, KeyCode::DELETE, KeyCode::VK_STICKY_SHIFT_L, KeyCode::KEY_4
    %autogen __HoldingKeyToKey__ KeyCode::KEY_5,     ModifierFlag::NONE, KeyCode::DELETE,                             KeyCode::JIS_YEN
    /上段 右手 数字キー
    %autogen __HoldingKeyToKey__ KeyCode::KEY_6,     ModifierFlag::NONE, KeyCode::DELETE,                             KeyCode::JIS_HAT
    %autogen __HoldingKeyToKey__ KeyCode::KEY_7,     ModifierFlag::NONE, KeyCode::DELETE,                             KeyCode::QUOTE
    %autogen __HoldingKeyToKey__ KeyCode::KEY_8,     ModifierFlag::NONE, KeyCode::DELETE, KeyCode::VK_STICKY_SHIFT_L, KeyCode::QUOTE
    %autogen __HoldingKeyToKey__ KeyCode::KEY_9,     ModifierFlag::NONE, KeyCode::DELETE, KeyCode::VK_STICKY_SHIFT_L, KeyCode::KEY_8
    %autogen __HoldingKeyToKey__ KeyCode::KEY_0,     ModifierFlag::NONE, KeyCode::DELETE, KeyCode::VK_STICKY_SHIFT_L, KeyCode::KEY_9
    %autogen __HoldingKeyToKey__ KeyCode::MINUS,     ModifierFlag::NONE, KeyCode::DELETE,                             KeyCode::JIS_COLON
    %autogen __HoldingKeyToKey__ KeyCode::EQUAL,     ModifierFlag::NONE, KeyCode::DELETE,                             KeyCode::SEMICOLON

    /ぼごれよ！|ぐちュせめづ　　
    /上段 左手
    %autogen __HoldingKeyToKey__ KeyCode::Q, ModifierFlag::NONE, KeyCode::DELETE, KeyCode::MINUS, KeyCode::BRACKET_LEFT
    %autogen __HoldingKeyToKey__ KeyCode::W, ModifierFlag::NONE, KeyCode::DELETE, KeyCode::B, KeyCode::BRACKET_LEFT
    %autogen __HoldingKeyToKey__ KeyCode::E, ModifierFlag::NONE, KeyCode::DELETE, KeyCode::SEMICOLON
    %autogen __HoldingKeyToKey__ KeyCode::R, ModifierFlag::NONE, KeyCode::DELETE, KeyCode::KEY_9
    %autogen __HoldingKeyToKey__ KeyCode::T, ModifierFlag::NONE, KeyCode::DELETE, KeyCode::VK_STICKY_SHIFT_L, KeyCode::KEY_1, KeyCode::F9
    /上段 右手
    %autogen __HoldingKeyToKey__ KeyCode::Y, ModifierFlag::NONE, KeyCode::DELETE, KeyCode::H, KeyCode::BRACKET_LEFT
    %autogen __HoldingKeyToKey__ KeyCode::U, ModifierFlag::NONE, KeyCode::DELETE, KeyCode::A
    %autogen __HoldingKeyToKey__ KeyCode::I, ModifierFlag::NONE, KeyCode::DELETE, KeyCode::VK_STICKY_SHIFT_L, KeyCode::KEY_8
    %autogen __HoldingKeyToKey__ KeyCode::O, ModifierFlag::NONE, KeyCode::DELETE, KeyCode::P
    %autogen __HoldingKeyToKey__ KeyCode::P, ModifierFlag::NONE, KeyCode::DELETE, KeyCode::SLASH
    %autogen __HoldingKeyToKey__ KeyCode::BRACKET_LEFT, ModifierFlag::NONE, KeyCode::DELETE, KeyCode::Z, KeyCode::BRACKET_LEFT
    -#%autogen __HoldingKeyToKey__ KeyCode::BRACKET_RIGHT, ModifierFlag::NONE, KeyCode::DELETE, KeyCode::VK_NONE
    -#%autogen __HoldingKeyToKey__ KeyCode::BACKSLASH,     ModifierFlag::NONE, KeyCode::DELETE, KeyCode::VK_NONE

    /えあおがを|わらりみそぬ
    /中段 左手
    %autogen __HoldingKeyToKey__ KeyCode::A, ModifierFlag::NONE, KeyCode::DELETE, KeyCode::KEY_5
    %autogen __HoldingKeyToKey__ KeyCode::S, ModifierFlag::NONE, KeyCode::DELETE, KeyCode::KEY_3
    %autogen __HoldingKeyToKey__ KeyCode::D, ModifierFlag::NONE, KeyCode::DELETE, KeyCode::KEY_6
    %autogen __HoldingKeyToKey__ KeyCode::F, ModifierFlag::NONE, KeyCode::DELETE, KeyCode::T, KeyCode::BRACKET_LEFT
    %autogen __HoldingKeyToKey__ KeyCode::G, ModifierFlag::NONE, KeyCode::DELETE, KeyCode::VK_STICKY_SHIFT_L, KeyCode::KEY_0
    /中段 右手
    %autogen __HoldingKeyToKey__ KeyCode::H,         ModifierFlag::NONE, KeyCode::DELETE, KeyCode::KEY_0
    %autogen __HoldingKeyToKey__ KeyCode::J,         ModifierFlag::NONE, KeyCode::DELETE, KeyCode::O
    %autogen __HoldingKeyToKey__ KeyCode::K,         ModifierFlag::NONE, KeyCode::DELETE, KeyCode::L
    %autogen __HoldingKeyToKey__ KeyCode::L,         ModifierFlag::NONE, KeyCode::DELETE, KeyCode::N
    %autogen __HoldingKeyToKey__ KeyCode::SEMICOLON, ModifierFlag::NONE, KeyCode::DELETE, KeyCode::C
    %autogen __HoldingKeyToKey__ KeyCode::QUOTE,     ModifierFlag::NONE, KeyCode::DELETE, KeyCode::KEY_1

    /ゆねげほろ|ャふやべび
    /下段 左手
    %autogen __HoldingKeyToKey__ KeyCode::Z, ModifierFlag::NONE, KeyCode::DELETE, KeyCode::KEY_8
    %autogen __HoldingKeyToKey__ KeyCode::X, ModifierFlag::NONE, KeyCode::DELETE, KeyCode::COMMA
    %autogen __HoldingKeyToKey__ KeyCode::C, ModifierFlag::NONE, KeyCode::DELETE, KeyCode::QUOTE, KeyCode::BRACKET_LEFT
    %autogen __HoldingKeyToKey__ KeyCode::V, ModifierFlag::NONE, KeyCode::DELETE, KeyCode::MINUS
    %autogen __HoldingKeyToKey__ KeyCode::B, ModifierFlag::NONE, KeyCode::DELETE, KeyCode::BACKQUOTE
    /下段 右手
    %autogen __HoldingKeyToKey__ KeyCode::N,     ModifierFlag::NONE, KeyCode::DELETE, KeyCode::VK_STICKY_SHIFT_L,  KeyCode::KEY_7
    %autogen __HoldingKeyToKey__ KeyCode::M,     ModifierFlag::NONE, KeyCode::DELETE, KeyCode::KEY_2
    %autogen __HoldingKeyToKey__ KeyCode::COMMA, ModifierFlag::NONE, KeyCode::DELETE, KeyCode::KEY_7
    %autogen __HoldingKeyToKey__ KeyCode::DOT,   ModifierFlag::NONE, KeyCode::DELETE, KeyCode::EQUAL, KeyCode::BRACKET_LEFT
    %autogen __HoldingKeyToKey__ KeyCode::SLASH, ModifierFlag::NONE, KeyCode::DELETE, KeyCode::V, KeyCode::BRACKET_LEFT
