!!! XML
%root
  {{JAPANESE_MOON_EXTRA}}
  %inputmode_only JAPANESE

  /中指シフト

  /　～＠＃＄￥|＾’＊（）；：
  /上段 左手 数字キー
  /%autogen --SimultaneousKeyPresses-- {{MIDDLE}}, KeyCode::BACKQUOTE, ModifierFlag::SHIFT_L, KeyCode::BACKQUOTE, KeyCode::VK_NONE
  %autogen --SimultaneousKeyPresses-- {{MIDDLE}}, KeyCode::KEY_1, ModifierFlag::SHIFT_L,  KeyCode::BACKQUOTE, KeyCode::VK_NONE
  %autogen --SimultaneousKeyPresses-- {{MIDDLE}}, KeyCode::KEY_2, ModifierFlag::SHIFT_L,  KeyCode::KEY_2,     KeyCode::VK_NONE
  %autogen --SimultaneousKeyPresses-- {{MIDDLE}}, KeyCode::KEY_3, ModifierFlag::SHIFT_L,  KeyCode::KEY_3,     KeyCode::VK_NONE
  %autogen --SimultaneousKeyPresses-- {{MIDDLE}}, KeyCode::KEY_4, ModifierFlag::SHIFT_L,  KeyCode::KEY_4,     KeyCode::VK_NONE
  %autogen --SimultaneousKeyPresses-- {{MIDDLE}}, KeyCode::KEY_5, ModifierFlag::NONE,     KeyCode::JIS_YEN,   KeyCode::VK_NONE
  /上段 右手 数字キー
  %autogen --SimultaneousKeyPresses-- {{MIDDLE}}, KeyCode::KEY_6, ModifierFlag::NONE,     KeyCode::JIS_HAT,   KeyCode::VK_NONE
  %autogen --SimultaneousKeyPresses-- {{MIDDLE}}, KeyCode::KEY_7, ModifierFlag::NONE,     KeyCode::QUOTE,     KeyCode::VK_NONE
  %autogen --SimultaneousKeyPresses-- {{MIDDLE}}, KeyCode::KEY_8, ModifierFlag::SHIFT_L,  KeyCode::KEY_8,     KeyCode::VK_NONE
  %autogen --SimultaneousKeyPresses-- {{MIDDLE}}, KeyCode::KEY_9, ModifierFlag::SHIFT_L,  KeyCode::KEY_9,     KeyCode::VK_NONE
  %autogen --SimultaneousKeyPresses-- {{MIDDLE}}, KeyCode::KEY_0, ModifierFlag::SHIFT_L,  KeyCode::KEY_0,     KeyCode::VK_NONE
  %autogen --SimultaneousKeyPresses-- {{MIDDLE}}, KeyCode::MINUS, ModifierFlag::NONE,     KeyCode::SEMICOLON, KeyCode::VK_NONE
  %autogen --SimultaneousKeyPresses-- {{MIDDLE}}, KeyCode::EQUAL, ModifierFlag::NONE,     KeyCode::JIS_COLON, KeyCode::VK_NONE

  /ぼごれよ！|ぐちュせめづ　　
  /上段 左手
  %autogen --SimultaneousKeyPresses-- {{MIDDLE}}, KeyCode::Q, ModifierFlag::NONE,     KeyCode::B, KeyCode::O, KeyCode::VK_NONE
  %autogen --SimultaneousKeyPresses-- {{MIDDLE}}, KeyCode::W, ModifierFlag::NONE,     KeyCode::G, KeyCode::O, KeyCode::VK_NONE
  %autogen --SimultaneousKeyPresses-- {{MIDDLE}}, KeyCode::E, ModifierFlag::NONE,     KeyCode::R, KeyCode::E, KeyCode::VK_NONE
  %autogen --SimultaneousKeyPresses-- {{MIDDLE}}, KeyCode::R, ModifierFlag::NONE,     KeyCode::Y, KeyCode::O, KeyCode::VK_NONE
  %autogen --SimultaneousKeyPresses-- {{MIDDLE}}, KeyCode::T, ModifierFlag::SHIFT_L,  KeyCode::KEY_1,         KeyCode::VK_NONE
  /上段 右手
  %autogen --SimultaneousKeyPresses-- {{MIDDLE}}, KeyCode::Y, ModifierFlag::NONE, KeyCode::G, KeyCode::U,             KeyCode::VK_NONE
  %autogen --SimultaneousKeyPresses-- {{MIDDLE}}, KeyCode::U, ModifierFlag::NONE, KeyCode::T, KeyCode::I,             KeyCode::VK_NONE
  %autogen --SimultaneousKeyPresses-- {{MIDDLE}}, KeyCode::I, ModifierFlag::NONE, KeyCode::X, KeyCode::Y, KeyCode::U, KeyCode::VK_NONE
  %autogen --SimultaneousKeyPresses-- {{MIDDLE}}, KeyCode::O, ModifierFlag::NONE, KeyCode::S, KeyCode::E              KeyCode::VK_NONE
  %autogen --SimultaneousKeyPresses-- {{MIDDLE}}, KeyCode::P, ModifierFlag::NONE, KeyCode::M, KeyCode::E,             KeyCode::VK_NONE
  %autogen --SimultaneousKeyPresses-- {{MIDDLE}}, KeyCode::BRACKET_LEFT, ModifierFlag::NONE, KeyCode::D, KeyCode::U,  KeyCode::VK_NONE

  /えあおがを|わらりみそぬ
  /中段 左手
  %autogen --SimultaneousKeyPresses-- {{MIDDLE}}, KeyCode::A, ModifierFlag::NONE, KeyCode::E,             KeyCode::VK_NONE
  %autogen --SimultaneousKeyPresses-- {{MIDDLE}}, KeyCode::S, ModifierFlag::NONE, KeyCode::A,             KeyCode::VK_NONE
  %autogen --SimultaneousKeyPresses-- {{MIDDLE}}, KeyCode::D, ModifierFlag::NONE, KeyCode::O,             KeyCode::VK_NONE
  %autogen --SimultaneousKeyPresses-- {{MIDDLE}}, KeyCode::F, ModifierFlag::NONE, KeyCode::G, KeyCode::A, KeyCode::VK_NONE
  %autogen --SimultaneousKeyPresses-- {{MIDDLE}}, KeyCode::G, ModifierFlag::NONE, KeyCode::W, KeyCode::O, KeyCode::VK_NONE
  /中段 右手
  %autogen --SimultaneousKeyPresses-- {{MIDDLE}}, KeyCode::H,         ModifierFlag::NONE, KeyCode::W, KeyCode::A, KeyCode::VK_NONE
  %autogen --SimultaneousKeyPresses-- {{MIDDLE}}, KeyCode::J,         ModifierFlag::NONE, KeyCode::R, KeyCode::A, KeyCode::VK_NONE
  %autogen --SimultaneousKeyPresses-- {{MIDDLE}}, KeyCode::K,         ModifierFlag::NONE, KeyCode::R, KeyCode::I, KeyCode::VK_NONE
  %autogen --SimultaneousKeyPresses-- {{MIDDLE}}, KeyCode::L,         ModifierFlag::NONE, KeyCode::M, KeyCode::I, KeyCode::VK_NONE
  %autogen --SimultaneousKeyPresses-- {{MIDDLE}}, KeyCode::SEMICOLON, ModifierFlag::NONE, KeyCode::S, KeyCode::O, KeyCode::VK_NONE
  %autogen --SimultaneousKeyPresses-- {{MIDDLE}}, KeyCode::QUOTE,     ModifierFlag::NONE, KeyCode::N, KeyCode::U, KeyCode::VK_NONE

  /ゆねげほろ|ャふやべび
  /下段 左手
  %autogen --SimultaneousKeyPresses-- {{MIDDLE}}, KeyCode::Z, ModifierFlag::NONE, KeyCode::Y, KeyCode::U, KeyCode::VK_NONE
  %autogen --SimultaneousKeyPresses-- {{MIDDLE}}, KeyCode::X, ModifierFlag::NONE, KeyCode::N, KeyCode::E, KeyCode::VK_NONE
  %autogen --SimultaneousKeyPresses-- {{MIDDLE}}, KeyCode::C, ModifierFlag::NONE, KeyCode::G, KeyCode::E, KeyCode::VK_NONE
  %autogen --SimultaneousKeyPresses-- {{MIDDLE}}, KeyCode::V, ModifierFlag::NONE, KeyCode::H, KeyCode::O, KeyCode::VK_NONE
  %autogen --SimultaneousKeyPresses-- {{MIDDLE}}, KeyCode::B, ModifierFlag::NONE, KeyCode::R, KeyCode::O, KeyCode::VK_NONE
  /下段 右手
  %autogen --SimultaneousKeyPresses-- {{MIDDLE}}, KeyCode::N, ModifierFlag::NONE, KeyCode::X, KeyCode::Y, KeyCode::A, KeyCode::VK_NONE
  %autogen --SimultaneousKeyPresses-- {{MIDDLE}}, KeyCode::M,     ModifierFlag::NONE, KeyCode::H, KeyCode::U, KeyCode::VK_NONE
  %autogen --SimultaneousKeyPresses-- {{MIDDLE}}, KeyCode::COMMA, ModifierFlag::NONE, KeyCode::Y, KeyCode::A, KeyCode::VK_NONE
  %autogen --SimultaneousKeyPresses-- {{MIDDLE}}, KeyCode::DOT,   ModifierFlag::NONE, KeyCode::B, KeyCode::E, KeyCode::VK_NONE
  %autogen --SimultaneousKeyPresses-- {{MIDDLE}}, KeyCode::SLASH, ModifierFlag::NONE, KeyCode::B, KeyCode::I, KeyCode::VK_NONE
