!!! XML
%root
  -#{{JAPANESE_MOON_EXTRA}}
  %inputmode_only JAPANESE

  /　むたッてョ|つんいしけへ　　
  /上段 左手
  %autogen --KeyToKey-- KeyCode::Q, ModifierFlag::NONE, KeyCode::M, KeyCode::U,             KeyCode::VK_NONE
  %autogen --KeyToKey-- KeyCode::W, ModifierFlag::NONE, KeyCode::T, KeyCode::A,             KeyCode::VK_NONE
  %autogen --KeyToKey-- KeyCode::E, ModifierFlag::NONE, KeyCode::X, KeyCode::T, KeyCode::U, KeyCode::VK_NONE
  %autogen --KeyToKey-- KeyCode::R, ModifierFlag::NONE, KeyCode::T, KeyCode::E,             KeyCode::VK_NONE
  %autogen --KeyToKey-- KeyCode::T, ModifierFlag::NONE, KeyCode::X, KeyCode::Y, KeyCode::O, KeyCode::VK_NONE
  /上段 右手
  %autogen --KeyToKey-- KeyCode::Y,             ModifierFlag::NONE, KeyCode::T, KeyCode::U, KeyCode::VK_NONE
  %autogen --KeyToKey-- KeyCode::U,             ModifierFlag::NONE, KeyCode::N, KeyCode::N, KeyCode::VK_NONE
  %autogen --KeyToKey-- KeyCode::I,             ModifierFlag::NONE, KeyCode::I,             KeyCode::VK_NONE
  %autogen --KeyToKey-- KeyCode::O,             ModifierFlag::NONE, KeyCode::S, KeyCode::I, KeyCode::VK_NONE
  %autogen --KeyToKey-- KeyCode::P,             ModifierFlag::NONE, KeyCode::K, KeyCode::E, KeyCode::VK_NONE
  %autogen --KeyToKey-- KeyCode::BRACKET_LEFT,  ModifierFlag::NONE, KeyCode::H, KeyCode::E, KeyCode::VK_NONE

  /のと、かこ|くう。？なひ
  /中段 左手
  %autogen --KeyToKey-- KeyCode::A, ModifierFlag::NONE, KeyCode::N, KeyCode::O, KeyCode::VK_NONE
  %autogen --KeyToKey-- KeyCode::S, ModifierFlag::NONE, KeyCode::T, KeyCode::O, KeyCode::VK_NONE
  %autogen --KeyToKey-- KeyCode::D, ModifierFlag::NONE, KeyCode::COMMA,         KeyCode::VK_NONE
  %autogen --KeyToKey-- KeyCode::F, ModifierFlag::NONE, KeyCode::K, KeyCode::A, KeyCode::VK_NONE
  %autogen --KeyToKey-- KeyCode::G, ModifierFlag::NONE, KeyCode::K, KeyCode::O, KeyCode::VK_NONE
  /中段 右手
  %autogen --KeyToKey-- KeyCode::H,         ModifierFlag::NONE,     KeyCode::K, KeyCode::U, KeyCode::VK_NONE
  %autogen --KeyToKey-- KeyCode::J,         ModifierFlag::NONE,     KeyCode::U,             KeyCode::VK_NONE
  %autogen --KeyToKey-- KeyCode::K,         ModifierFlag::NONE,     KeyCode::DOT,           KeyCode::VK_NONE
  %autogen --KeyToKey-- KeyCode::L,         ModifierFlag::SHIFT_L,  KeyCode::SLASH,         KeyCode::VK_NONE
  %autogen --KeyToKey-- KeyCode::SEMICOLON, ModifierFlag::NONE,     KeyCode::N, KeyCode::A, KeyCode::VK_NONE
  %autogen --KeyToKey-- KeyCode::QUOTE,     ModifierFlag::NONE,     KeyCode::H, KeyCode::I, KeyCode::VK_NONE

  /すはにでさ|まるきもー
  /下段 左手
  %autogen --KeyToKey-- KeyCode::Z, ModifierFlag::NONE, KeyCode::S, KeyCode::U, KeyCode::VK_NONE
  %autogen --KeyToKey-- KeyCode::X, ModifierFlag::NONE, KeyCode::H, KeyCode::A, KeyCode::VK_NONE
  %autogen --KeyToKey-- KeyCode::C, ModifierFlag::NONE, KeyCode::N, KeyCode::I, KeyCode::VK_NONE
  %autogen --KeyToKey-- KeyCode::V, ModifierFlag::NONE, KeyCode::D, KeyCode::E, KeyCode::VK_NONE
  %autogen --KeyToKey-- KeyCode::B, ModifierFlag::NONE, KeyCode::S, KeyCode::A, KeyCode::VK_NONE
  /下段 右手
  %autogen --KeyToKey-- KeyCode::N,     ModifierFlag::NONE, KeyCode::M, KeyCode::A, KeyCode::VK_NONE
  %autogen --KeyToKey-- KeyCode::M,     ModifierFlag::NONE, KeyCode::R, KeyCode::U, KeyCode::VK_NONE
  %autogen --KeyToKey-- KeyCode::COMMA, ModifierFlag::NONE, KeyCode::K, KeyCode::I, KeyCode::VK_NONE
  %autogen --KeyToKey-- KeyCode::DOT,   ModifierFlag::NONE, KeyCode::M, KeyCode::O, KeyCode::VK_NONE
  %autogen --KeyToKey-- KeyCode::SLASH, ModifierFlag::NONE, KeyCode::MINUS,         KeyCode::VK_NONE
