!!! XML
%root
  -#{{JAPANESE_MOON_EXTRA}}
  %inputmode_only JAPANESE

  %block
    /薬指シフト
    %lastpressedphysicalkey_only {{RING}}
    %elapsedtimesincelastreleased_lessthan Millisecond::RawValue::1000

    -#/上段 左手 数字キー
    -#%autogen __HoldingKeyToKey__ KeyCode::BACKQUOTE, ModifierFlag::NONE, KeyCode::BACKQUOTE
    -#%autogen __HoldingKeyToKey__ KeyCode::KEY_1,     ModifierFlag::NONE, KeyCode::KEY_1
    -#%autogen __HoldingKeyToKey__ KeyCode::KEY_2,     ModifierFlag::NONE, KeyCode::KEY_2
    -#%autogen __HoldingKeyToKey__ KeyCode::KEY_3,     ModifierFlag::NONE, KeyCode::KEY_3
    -#%autogen __HoldingKeyToKey__ KeyCode::KEY_4,     ModifierFlag::NONE, KeyCode::KEY_4
    -#%autogen __HoldingKeyToKey__ KeyCode::KEY_5,     ModifierFlag::NONE, KeyCode::KEY_5
    -#/上段 右手 数字キー
    -#%autogen __HoldingKeyToKey__ KeyCode::KEY_6, ModifierFlag::NONE, KeyCode::KEY_6
    -#%autogen __HoldingKeyToKey__ KeyCode::KEY_7, ModifierFlag::NONE, KeyCode::KEY_7
    -#%autogen __HoldingKeyToKey__ KeyCode::KEY_8, ModifierFlag::NONE, KeyCode::KEY_8
    -#%autogen __HoldingKeyToKey__ KeyCode::KEY_9, ModifierFlag::NONE, KeyCode::KEY_9
    -#%autogen __HoldingKeyToKey__ KeyCode::KEY_0, ModifierFlag::NONE, KeyCode::KEY_0
    -#%autogen __HoldingKeyToKey__ KeyCode::MINUS, ModifierFlag::NONE, KeyCode::MINUS
    -#%autogen __HoldingKeyToKey__ KeyCode::EQUAL, ModifierFlag::NONE, KeyCode::EQUAL

    /ざぎずぜぞ|
    /上段 左手
    %autogen __HoldingKeyToKey__ KeyCode::Q, ModifierFlag::NONE, KeyCode::X, KeyCode::BRACKET_LEFT
    %autogen __HoldingKeyToKey__ KeyCode::W, ModifierFlag::NONE, KeyCode::G, KeyCode::BRACKET_LEFT
    %autogen __HoldingKeyToKey__ KeyCode::E, ModifierFlag::NONE, KeyCode::R, KeyCode::BRACKET_LEFT
    %autogen __HoldingKeyToKey__ KeyCode::R, ModifierFlag::NONE, KeyCode::P, KeyCode::BRACKET_LEFT
    %autogen __HoldingKeyToKey__ KeyCode::T, ModifierFlag::NONE, KeyCode::C, KeyCode::BRACKET_LEFT
    -#/上段 右手
    -#%autogen __HoldingKeyToKey__ KeyCode::Y, ModifierFlag::NONE, KeyCode::Y
    -#%autogen __HoldingKeyToKey__ KeyCode::U, ModifierFlag::NONE, KeyCode::U
    -#%autogen __HoldingKeyToKey__ KeyCode::I, ModifierFlag::NONE, KeyCode::I
    -#%autogen __HoldingKeyToKey__ KeyCode::O, ModifierFlag::NONE, KeyCode::O
    -#%autogen __HoldingKeyToKey__ KeyCode::P, ModifierFlag::NONE, KeyCode::P
    -#%autogen __HoldingKeyToKey__ KeyCode::BRACKET_LEFT, ModifierFlag::NONE, KeyCode::BRACKET_LEFT
    -#%autogen __HoldingKeyToKey__ KeyCode::BRACKET_RIGHT, ModifierFlag::NONE
    -#%autogen __HoldingKeyToKey__ KeyCode::BACKSLASH,     ModifierFlag::NONE

    /ばじどだぶ|
    /中段 左手
    %autogen __HoldingKeyToKey__ KeyCode::A, ModifierFlag::NONE, KeyCode::F,     KeyCode::BRACKET_LEFT
    %autogen __HoldingKeyToKey__ KeyCode::S, ModifierFlag::NONE, KeyCode::D,     KeyCode::BRACKET_LEFT
    %autogen __HoldingKeyToKey__ KeyCode::D, ModifierFlag::NONE, KeyCode::S,     KeyCode::BRACKET_LEFT
    %autogen __HoldingKeyToKey__ KeyCode::F, ModifierFlag::NONE, KeyCode::Q,     KeyCode::BRACKET_LEFT
    %autogen __HoldingKeyToKey__ KeyCode::G, ModifierFlag::NONE, KeyCode::KEY_2, KeyCode::BRACKET_LEFT
    -#/中段 右手
    -#%autogen __HoldingKeyToKey__ KeyCode::H,         ModifierFlag::NONE, KeyCode::H
    -#%autogen __HoldingKeyToKey__ KeyCode::J,         ModifierFlag::NONE, KeyCode::J
    -#%autogen __HoldingKeyToKey__ KeyCode::K,         ModifierFlag::NONE, KeyCode::K
    -#%autogen __HoldingKeyToKey__ KeyCode::L,         ModifierFlag::NONE, KeyCode::L
    -#%autogen __HoldingKeyToKey__ KeyCode::SEMICOLON, ModifierFlag::NONE, KeyCode::SEMICOLON
    -#%autogen __HoldingKeyToKey__ KeyCode::QUOTE,     ModifierFlag::NONE, KeyCode::QUOTE

    /パピプペポ|
    /下段 左手
    %autogen __HoldingKeyToKey__ KeyCode::Z, ModifierFlag::NONE, KeyCode::F,          KeyCode::EQUAL
    %autogen __HoldingKeyToKey__ KeyCode::X, ModifierFlag::NONE, KeyCode::V,          KeyCode::EQUAL
    %autogen __HoldingKeyToKey__ KeyCode::C, ModifierFlag::NONE, KeyCode::KEY_2,      KeyCode::EQUAL
    %autogen __HoldingKeyToKey__ KeyCode::V, ModifierFlag::NONE, KeyCode::BACKSLASH,  KeyCode::EQUAL
    %autogen __HoldingKeyToKey__ KeyCode::B, ModifierFlag::NONE, KeyCode::MINUS,      KeyCode::EQUAL
    -#/下段 右手
    -#%autogen __HoldingKeyToKey__ KeyCode::N,     ModifierFlag::NONE, KeyCode::N
    -#%autogen __HoldingKeyToKey__ KeyCode::M,     ModifierFlag::NONE, KeyCode::M
    -#%autogen __HoldingKeyToKey__ KeyCode::COMMA, ModifierFlag::NONE, KeyCode::COMMA
    -#%autogen __HoldingKeyToKey__ KeyCode::DOT,   ModifierFlag::NONE, KeyCode::DOT
    -#%autogen __HoldingKeyToKey__ KeyCode::SLASH, ModifierFlag::NONE, KeyCode::SLASH
