!!! XML
%root
  {{JAPANESE_MOON_EXTRA}}
  %inputmode_only JAPANESE

  /シフト3

  -#/上段 左手 数字キー
  -#%autogen --SimultaneousKeyPresses-- {{RING}}, KeyCode::BACKQUOTE, ModifierFlag::NONE, KeyCode::BACKQUOTE, KeyCode::VK_NONE
  -#%autogen --SimultaneousKeyPresses-- {{RING}}, KeyCode::KEY_1,     ModifierFlag::NONE, KeyCode::KEY_1, KeyCode::VK_NONE
  -#%autogen --SimultaneousKeyPresses-- {{RING}}, KeyCode::KEY_2,     ModifierFlag::NONE, KeyCode::KEY_2, KeyCode::VK_NONE
  -#%autogen --SimultaneousKeyPresses-- {{RING}}, KeyCode::KEY_3,     ModifierFlag::NONE, KeyCode::KEY_3, KeyCode::VK_NONE
  -#%autogen --SimultaneousKeyPresses-- {{RING}}, KeyCode::KEY_4,     ModifierFlag::NONE, KeyCode::KEY_4, KeyCode::VK_NONE
  -#%autogen --SimultaneousKeyPresses-- {{RING}}, KeyCode::KEY_5,     ModifierFlag::NONE, KeyCode::KEY_5, KeyCode::VK_NONE
  -#/上段 右手 数字キー
  -#%autogen --SimultaneousKeyPresses-- {{RING}}, KeyCode::KEY_6, ModifierFlag::NONE, KeyCode::KEY_6, KeyCode::VK_NONE
  -#%autogen --SimultaneousKeyPresses-- {{RING}}, KeyCode::KEY_7, ModifierFlag::NONE, KeyCode::KEY_7, KeyCode::VK_NONE
  -#%autogen --SimultaneousKeyPresses-- {{RING}}, KeyCode::KEY_8, ModifierFlag::NONE, KeyCode::KEY_8, KeyCode::VK_NONE
  -#%autogen --SimultaneousKeyPresses-- {{RING}}, KeyCode::KEY_9, ModifierFlag::NONE, KeyCode::KEY_9, KeyCode::VK_NONE
  -#%autogen --SimultaneousKeyPresses-- {{RING}}, KeyCode::KEY_0, ModifierFlag::NONE, KeyCode::KEY_0, KeyCode::VK_NONE
  -#%autogen --SimultaneousKeyPresses-- {{RING}}, KeyCode::MINUS, ModifierFlag::NONE, KeyCode::MINUS, KeyCode::VK_NONE
  -#%autogen --SimultaneousKeyPresses-- {{RING}}, KeyCode::EQUAL, ModifierFlag::NONE, KeyCode::EQUAL, KeyCode::VK_NONE

  /ぢヴ笑草・|
  /上段 左手
  %autogen --SimultaneousKeyPresses-- {{RING}}, KeyCode::Q, ModifierFlag::NONE, KeyCode::D, KeyCode::I, KeyCode::VK_NONE
  %autogen --SimultaneousKeyPresses-- {{RING}}, KeyCode::W, ModifierFlag::NONE, KeyCode::V, KeyCode::U, KeyCode::VK_NONE
  -#%autogen --SimultaneousKeyPresses-- {{RING}}, KeyCode::E, ModifierFlag::NONE, KeyCode::E, KeyCode::VK_NONE
  -#%autogen --SimultaneousKeyPresses-- {{RING}}, KeyCode::R, ModifierFlag::NONE, KeyCode::R, KeyCode::VK_NONE
  %autogen --SimultaneousKeyPresses-- {{RING}}, KeyCode::T, ModifierFlag::NONE, KeyCode::SLASH, KeyCode::VK_NONE
  -#/上段 右手
  -#%autogen --SimultaneousKeyPresses-- {{RING}}, KeyCode::Y, ModifierFlag::NONE, KeyCode::Y, KeyCode::VK_NONE
  -#%autogen --SimultaneousKeyPresses-- {{RING}}, KeyCode::U, ModifierFlag::NONE, KeyCode::U, KeyCode::VK_NONE
  -#%autogen --SimultaneousKeyPresses-- {{RING}}, KeyCode::I, ModifierFlag::NONE, KeyCode::I, KeyCode::VK_NONE
  -#%autogen --SimultaneousKeyPresses-- {{RING}}, KeyCode::O, ModifierFlag::NONE, KeyCode::O, KeyCode::VK_NONE
  -#%autogen --SimultaneousKeyPresses-- {{RING}}, KeyCode::P, ModifierFlag::NONE, KeyCode::P, KeyCode::VK_NONE
  -#%autogen --SimultaneousKeyPresses-- {{RING}}, KeyCode::BRACKET_LEFT, ModifierFlag::NONE, KeyCode::BRACKET_LEFT, KeyCode::VK_NONE

  /ァィゥェォ|
  /中段 左手
  %autogen --SimultaneousKeyPresses-- {{RING}}, KeyCode::A, ModifierFlag::NONE, KeyCode::X, KeyCode::A, KeyCode::VK_NONE
  %autogen --SimultaneousKeyPresses-- {{RING}}, KeyCode::S, ModifierFlag::NONE, KeyCode::X, KeyCode::I, KeyCode::VK_NONE
  %autogen --SimultaneousKeyPresses-- {{RING}}, KeyCode::D, ModifierFlag::NONE, KeyCode::X, KeyCode::U, KeyCode::VK_NONE
  %autogen --SimultaneousKeyPresses-- {{RING}}, KeyCode::F, ModifierFlag::NONE, KeyCode::X, KeyCode::E, KeyCode::VK_NONE
  %autogen --SimultaneousKeyPresses-- {{RING}}, KeyCode::G, ModifierFlag::NONE, KeyCode::X, KeyCode::O, KeyCode::VK_NONE
  -#/中段 右手
  -#%autogen --SimultaneousKeyPresses-- {{RING}}, KeyCode::H,         ModifierFlag::NONE, KeyCode::H, KeyCode::VK_NONE
  -#%autogen --SimultaneousKeyPresses-- {{RING}}, KeyCode::J,         ModifierFlag::NONE, KeyCode::J, KeyCode::VK_NONE
  -#%autogen --SimultaneousKeyPresses-- {{RING}}, KeyCode::K,         ModifierFlag::NONE, KeyCode::K, KeyCode::VK_NONE
  -#%autogen --SimultaneousKeyPresses-- {{RING}}, KeyCode::L,         ModifierFlag::NONE, KeyCode::L, KeyCode::VK_NONE
  -#%autogen --SimultaneousKeyPresses-- {{RING}}, KeyCode::SEMICOLON, ModifierFlag::NONE, KeyCode::SEMICOLON, KeyCode::VK_NONE
  -#%autogen --SimultaneousKeyPresses-- {{RING}}, KeyCode::QUOTE,     ModifierFlag::NONE, KeyCode::QUOTE, KeyCode::VK_NONE

  /　　＜＞　|
  /下段 左手
  -#%autogen --SimultaneousKeyPresses-- {{RING}}, KeyCode::Z, ModifierFlag::NONE, KeyCode::Z, KeyCode::VK_NONE
  -#%autogen --SimultaneousKeyPresses-- {{RING}}, KeyCode::X, ModifierFlag::NONE, KeyCode::X, KeyCode::VK_NONE
  %autogen --SimultaneousKeyPresses-- {{RING}}, KeyCode::C, ModifierFlag::SHIFT_L, KeyCode::KEY_9,  KeyCode::VK_NONE
  %autogen --SimultaneousKeyPresses-- {{RING}}, KeyCode::V, ModifierFlag::SHIFT_L, KeyCode::KEY_0, KeyCode::VK_NONE
  /%autogen --SimultaneousKeyPresses-- {{RING}}, KeyCode::B, ModifierFlag::NONE, KeyCode::B, KeyCode::VK_NONE
  -#/下段 右手
  -#%autogen --SimultaneousKeyPresses-- {{RING}}, KeyCode::N,     ModifierFlag::NONE, KeyCode::N,     KeyCode::VK_NONE
  -#%autogen --SimultaneousKeyPresses-- {{RING}}, KeyCode::M,     ModifierFlag::NONE, KeyCode::M,     KeyCode::VK_NONE
  -#%autogen --SimultaneousKeyPresses-- {{RING}}, KeyCode::COMMA, ModifierFlag::NONE, KeyCode::COMMA, KeyCode::VK_NONE
  -#%autogen --SimultaneousKeyPresses-- {{RING}}, KeyCode::DOT,   ModifierFlag::NONE, KeyCode::DOT,   KeyCode::VK_NONE
  -#%autogen --SimultaneousKeyPresses-- {{RING}}, KeyCode::SLASH, ModifierFlag::NONE, KeyCode::SLASH, KeyCode::VK_NONE
