!!! XML
%root
  -#{{JAPANESE_MOON_EXTRA}}
  %inputmode_only JAPANESE
  %not PASSWORD

  /薬指シフト

  -#/上段 左手 数字キー
  -#%autogen __KeyToKey__ KeyCode::BACKQUOTE, ModifierFlag::{{RING}}, KeyCode::BACKQUOTE
  -#%autogen __KeyToKey__ KeyCode::KEY_1,     ModifierFlag::{{RING}}, KeyCode::KEY_1
  -#%autogen __KeyToKey__ KeyCode::KEY_2,     ModifierFlag::{{RING}}, KeyCode::KEY_2
  -#%autogen __KeyToKey__ KeyCode::KEY_3,     ModifierFlag::{{RING}}, KeyCode::KEY_3
  -#%autogen __KeyToKey__ KeyCode::KEY_4,     ModifierFlag::{{RING}}, KeyCode::KEY_4
  -#%autogen __KeyToKey__ KeyCode::KEY_5,     ModifierFlag::{{RING}}, KeyCode::KEY_5
  -#/上段 右手 数字キー
  -#%autogen __KeyToKey__ KeyCode::KEY_6, ModifierFlag::{{RING}}, KeyCode::KEY_6
  -#%autogen __KeyToKey__ KeyCode::KEY_7, ModifierFlag::{{RING}}, KeyCode::KEY_7
  -#%autogen __KeyToKey__ KeyCode::KEY_8, ModifierFlag::{{RING}}, KeyCode::KEY_8
  -#%autogen __KeyToKey__ KeyCode::KEY_9, ModifierFlag::{{RING}}, KeyCode::KEY_9
  -#%autogen __KeyToKey__ KeyCode::KEY_0, ModifierFlag::{{RING}}, KeyCode::KEY_0
  -#%autogen __KeyToKey__ KeyCode::MINUS, ModifierFlag::{{RING}}, KeyCode::MINUS
  -#%autogen __KeyToKey__ KeyCode::EQUAL, ModifierFlag::{{RING}}, KeyCode::EQUAL

  /ざぎずぜぞ|
  /上段 左手
  %autogen __KeyToKey__ KeyCode::Q, ModifierFlag::{{RING}}, KeyCode::X, KeyCode::BRACKET_LEFT
  %autogen __KeyToKey__ KeyCode::W, ModifierFlag::{{RING}}, KeyCode::G, KeyCode::BRACKET_LEFT
  %autogen __KeyToKey__ KeyCode::E, ModifierFlag::{{RING}}, KeyCode::R, KeyCode::BRACKET_LEFT
  %autogen __KeyToKey__ KeyCode::R, ModifierFlag::{{RING}}, KeyCode::P, KeyCode::BRACKET_LEFT
  %autogen __KeyToKey__ KeyCode::T, ModifierFlag::{{RING}}, KeyCode::C, KeyCode::BRACKET_LEFT
  -#/上段 右手
  -#%autogen __KeyToKey__ KeyCode::Y, ModifierFlag::{{RING}}, KeyCode::Y
  -#%autogen __KeyToKey__ KeyCode::U, ModifierFlag::{{RING}}, KeyCode::U
  -#%autogen __KeyToKey__ KeyCode::I, ModifierFlag::{{RING}}, KeyCode::I
  -#%autogen __KeyToKey__ KeyCode::O, ModifierFlag::{{RING}}, KeyCode::O
  -#%autogen __KeyToKey__ KeyCode::P, ModifierFlag::{{RING}}, KeyCode::P
  -#%autogen __KeyToKey__ KeyCode::BRACKET_LEFT, ModifierFlag::{{RING}}, KeyCode::BRACKET_LEFT
  -#%autogen __KeyToKey__ KeyCode::BRACKET_RIGHT, ModifierFlag::{{RING}}
  -#%autogen __KeyToKey__ KeyCode::BACKSLASH,     ModifierFlag::{{RING}}

  /ばじどだぶ|
  /中段 左手
  %autogen __KeyToKey__ KeyCode::A, ModifierFlag::{{RING}}, KeyCode::F,     KeyCode::BRACKET_LEFT
  %autogen __KeyToKey__ KeyCode::S, ModifierFlag::{{RING}}, KeyCode::D,     KeyCode::BRACKET_LEFT
  %autogen __KeyToKey__ KeyCode::D, ModifierFlag::{{RING}}, KeyCode::S,     KeyCode::BRACKET_LEFT
  %autogen __KeyToKey__ KeyCode::F, ModifierFlag::{{RING}}, KeyCode::Q,     KeyCode::BRACKET_LEFT
  %autogen __KeyToKey__ KeyCode::G, ModifierFlag::{{RING}}, KeyCode::KEY_2, KeyCode::BRACKET_LEFT
  -#/中段 右手
  -#%autogen __KeyToKey__ KeyCode::H,         ModifierFlag::{{RING}}, KeyCode::H
  -#%autogen __KeyToKey__ KeyCode::J,         ModifierFlag::{{RING}}, KeyCode::J
  -#%autogen __KeyToKey__ KeyCode::K,         ModifierFlag::{{RING}}, KeyCode::K
  -#%autogen __KeyToKey__ KeyCode::L,         ModifierFlag::{{RING}}, KeyCode::L
  -#%autogen __KeyToKey__ KeyCode::SEMICOLON, ModifierFlag::{{RING}}, KeyCode::SEMICOLON
  -#%autogen __KeyToKey__ KeyCode::QUOTE,     ModifierFlag::{{RING}}, KeyCode::QUOTE

  /パピプペポ|
  /下段 左手
  %autogen __KeyToKey__ KeyCode::Z, ModifierFlag::{{RING}}, KeyCode::F,          KeyCode::EQUAL
  %autogen __KeyToKey__ KeyCode::X, ModifierFlag::{{RING}}, KeyCode::V,          KeyCode::EQUAL
  %autogen __KeyToKey__ KeyCode::C, ModifierFlag::{{RING}}, KeyCode::KEY_2,      KeyCode::EQUAL
  %autogen __KeyToKey__ KeyCode::V, ModifierFlag::{{RING}}, KeyCode::BACKSLASH,  KeyCode::EQUAL
  %autogen __KeyToKey__ KeyCode::B, ModifierFlag::{{RING}}, KeyCode::MINUS,      KeyCode::EQUAL
  -#/下段 右手
  -#%autogen __KeyToKey__ KeyCode::N,     ModifierFlag::{{RING}}, KeyCode::N
  -#%autogen __KeyToKey__ KeyCode::M,     ModifierFlag::{{RING}}, KeyCode::M
  -#%autogen __KeyToKey__ KeyCode::COMMA, ModifierFlag::{{RING}}, KeyCode::COMMA
  -#%autogen __KeyToKey__ KeyCode::DOT,   ModifierFlag::{{RING}}, KeyCode::DOT
  -#%autogen __KeyToKey__ KeyCode::SLASH, ModifierFlag::{{RING}}, KeyCode::SLASH
