!!! XML
%root
  -#{{JAPANESE_MOON_EXTRA}}
  %inputmode_only JAPANESE
  %not PASSWORD

  /シフトなし

  /｀１２３４５６７８９０－＝
  /上段 数字キー 左手
  %autogen __KeyToKey__ KeyCode::BACKQUOTE, ModifierFlag::NONE, KeyCode::VK_STICKY_OPTION_L, KeyCode::BACKQUOTE
  %autogen __KeyToKey__ KeyCode::KEY_1,     ModifierFlag::NONE, KeyCode::VK_STICKY_OPTION_L, KeyCode::KEY_1
  %autogen __KeyToKey__ KeyCode::KEY_2,     ModifierFlag::NONE, KeyCode::VK_STICKY_OPTION_L, KeyCode::KEY_2
  %autogen __KeyToKey__ KeyCode::KEY_3,     ModifierFlag::NONE, KeyCode::VK_STICKY_OPTION_L, KeyCode::KEY_3
  %autogen __KeyToKey__ KeyCode::KEY_4,     ModifierFlag::NONE, KeyCode::VK_STICKY_OPTION_L, KeyCode::KEY_4
  %autogen __KeyToKey__ KeyCode::KEY_5,     ModifierFlag::NONE, KeyCode::VK_STICKY_OPTION_L, KeyCode::KEY_5
  /上段 数字キー 右手
  %autogen __KeyToKey__ KeyCode::KEY_6, ModifierFlag::NONE, KeyCode::VK_STICKY_OPTION_L, KeyCode::KEY_6
  %autogen __KeyToKey__ KeyCode::KEY_7, ModifierFlag::NONE, KeyCode::VK_STICKY_OPTION_L, KeyCode::KEY_7
  %autogen __KeyToKey__ KeyCode::KEY_8, ModifierFlag::NONE, KeyCode::VK_STICKY_OPTION_L, KeyCode::KEY_8
  %autogen __KeyToKey__ KeyCode::KEY_9, ModifierFlag::NONE, KeyCode::VK_STICKY_OPTION_L, KeyCode::KEY_9
  %autogen __KeyToKey__ KeyCode::KEY_0, ModifierFlag::NONE, KeyCode::VK_STICKY_OPTION_L, KeyCode::KEY_0
  %autogen __KeyToKey__ KeyCode::MINUS, ModifierFlag::NONE, KeyCode::VK_STICKY_SHIFT_L, KeyCode::KEYPAD_MINUS , KeyCode::F9
  %autogen __KeyToKey__ KeyCode::EQUAL, ModifierFlag::NONE, KeyCode::VK_STICKY_OPTION_L, KeyCode::KEYPAD_EQUAL

  /むたッてョ|つんいしけへ　　
  /上段 左手
  %autogen __KeyToKey__ KeyCode::Q, ModifierFlag::NONE,                             KeyCode::BACKSLASH
  %autogen __KeyToKey__ KeyCode::W, ModifierFlag::NONE,                             KeyCode::Q
  %autogen __KeyToKey__ KeyCode::E, ModifierFlag::NONE, KeyCode::VK_STICKY_SHIFT_L, KeyCode::Z
  %autogen __KeyToKey__ KeyCode::R, ModifierFlag::NONE,                             KeyCode::W
  %autogen __KeyToKey__ KeyCode::T, ModifierFlag::NONE, KeyCode::VK_STICKY_SHIFT_L, KeyCode::KEY_9
  /上段 右手
  %autogen __KeyToKey__ KeyCode::Y,             ModifierFlag::NONE, KeyCode::Z
  %autogen __KeyToKey__ KeyCode::U,             ModifierFlag::NONE, KeyCode::Y
  %autogen __KeyToKey__ KeyCode::I,             ModifierFlag::NONE, KeyCode::E
  %autogen __KeyToKey__ KeyCode::O,             ModifierFlag::NONE, KeyCode::D
  %autogen __KeyToKey__ KeyCode::P,             ModifierFlag::NONE, KeyCode::QUOTE
  %autogen __KeyToKey__ KeyCode::BRACKET_LEFT,  ModifierFlag::NONE, KeyCode::BACKSLASH
  %autogen __KeyToKey__ KeyCode::BRACKET_RIGHT, ModifierFlag::NONE, KeyCode::VK_NONE
  %autogen __KeyToKey__ KeyCode::BACKSLASH,     ModifierFlag::NONE, KeyCode::VK_NONE

  /のと、かこ|くう。？なひ
  /中段 左手
  %autogen __KeyToKey__ KeyCode::A, ModifierFlag::NONE,     KeyCode::K
  %autogen __KeyToKey__ KeyCode::S, ModifierFlag::NONE,     KeyCode::S
  %autogen __KeyToKey__ KeyCode::D, ModifierFlag::OPTION_R,  KeyCode::VK_STICKY_OPTION_L, KeyCode::COMMA
  %autogen __KeyToKey__ KeyCode::D, ModifierFlag::NONE, KeyCode::OPTION_R
  %autogen __KeyToKey__ KeyCode::F, ModifierFlag::NONE, KeyCode::T
  %autogen __KeyToKey__ KeyCode::G, ModifierFlag::NONE, KeyCode::B
  /中段 右手
  %autogen __KeyToKey__ KeyCode::H,         ModifierFlag::NONE,     KeyCode::H
  %autogen __KeyToKey__ KeyCode::J,         ModifierFlag::NONE,     KeyCode::KEY_4
  %autogen __KeyToKey__ KeyCode::K, ModifierFlag::SHIFT_L, KeyCode::VK_STICKY_OPTION_L, KeyCode::DOT
  %autogen __KeyToKey__ KeyCode::K, ModifierFlag::NONE, KeyCode::OPTION_L
  %autogen __KeyToKey__ KeyCode::K, KeyCode::VK_NONE
  %autogen __KeyToKey__ KeyCode::L, ModifierFlag::SHIFT_L, KeyCode::VK_STICKY_OPTION_L, KeyCode::VK_STICKY_SHIFT_L, KeyCode::SLASH
  %autogen __KeyToKey__ KeyCode::L, ModifierFlag::NONE, KeyCode::SHIFT_L
  %autogen __KeyToKey__ KeyCode::SEMICOLON, ModifierFlag::NONE,     KeyCode::U
  %autogen __KeyToKey__ KeyCode::QUOTE,     ModifierFlag::NONE,     KeyCode::V

  /すはにでさ|まるきもー
  /下段 左手
  %autogen __KeyToKey__ KeyCode::Z, ModifierFlag::NONE, KeyCode::R
  %autogen __KeyToKey__ KeyCode::X, ModifierFlag::NONE, KeyCode::F
  %autogen __KeyToKey__ KeyCode::C, ModifierFlag::NONE, KeyCode::I
  %autogen __KeyToKey__ KeyCode::V, ModifierFlag::NONE, KeyCode::W, KeyCode::BRACKET_LEFT
  %autogen __KeyToKey__ KeyCode::B, ModifierFlag::NONE, KeyCode::X
  /下段 右手
  %autogen __KeyToKey__ KeyCode::N,     ModifierFlag::NONE, KeyCode::J
  %autogen __KeyToKey__ KeyCode::M,     ModifierFlag::NONE, KeyCode::DOT
  %autogen __KeyToKey__ KeyCode::COMMA, ModifierFlag::NONE, KeyCode::G
  %autogen __KeyToKey__ KeyCode::DOT,   ModifierFlag::NONE, KeyCode::M
  %autogen __KeyToKey__ KeyCode::SLASH, ModifierFlag::NONE, KeyCode::VK_JIS_YEN
