!!! XML
%root
  -#{{JAPANESE_MOON_EXTRA}}
  %inputmode_only JAPANESE
  %not PASSWORD

  /中指シフト

  /　～＠＃＄￥|＾’＊（）；：
  /上段 数字キー 左手
  %autogen __KeyToKey__ KeyCode::BACKQUOTE, MODIFIERFLAG_EITHER_LEFT_OR_RIGHT_OPTION, KeyCode::VK_NONE
  %autogen __KeyToKey__ KeyCode::KEY_1,     MODIFIERFLAG_EITHER_LEFT_OR_RIGHT_OPTION, KeyCode::VK_STICKY_SHIFT_L, KeyCode::BACKQUOTE
  %autogen __KeyToKey__ KeyCode::KEY_2,     MODIFIERFLAG_EITHER_LEFT_OR_RIGHT_OPTION,                             KeyCode::JIS_ATMARK
  %autogen __KeyToKey__ KeyCode::KEY_3,     MODIFIERFLAG_EITHER_LEFT_OR_RIGHT_OPTION, KeyCode::VK_STICKY_SHIFT_L, KeyCode::KEY_3
  %autogen __KeyToKey__ KeyCode::KEY_4,     MODIFIERFLAG_EITHER_LEFT_OR_RIGHT_OPTION, KeyCode::VK_STICKY_SHIFT_L, KeyCode::KEY_4
  %autogen __KeyToKey__ KeyCode::KEY_5,     MODIFIERFLAG_EITHER_LEFT_OR_RIGHT_OPTION,                             KeyCode::JIS_YEN
  /上段 数字キー 右手
  %autogen __KeyToKey__ KeyCode::KEY_6,     MODIFIERFLAG_EITHER_LEFT_OR_RIGHT_OPTION,                             KeyCode::JIS_HAT
  %autogen __KeyToKey__ KeyCode::KEY_7,     MODIFIERFLAG_EITHER_LEFT_OR_RIGHT_OPTION,                             KeyCode::QUOTE
  %autogen __KeyToKey__ KeyCode::KEY_8,     MODIFIERFLAG_EITHER_LEFT_OR_RIGHT_OPTION, KeyCode::VK_STICKY_SHIFT_L, KeyCode::QUOTE
  %autogen __KeyToKey__ KeyCode::KEY_9,     MODIFIERFLAG_EITHER_LEFT_OR_RIGHT_OPTION, KeyCode::VK_STICKY_SHIFT_L, KeyCode::KEY_8
  %autogen __KeyToKey__ KeyCode::KEY_0,     MODIFIERFLAG_EITHER_LEFT_OR_RIGHT_OPTION, KeyCode::VK_STICKY_SHIFT_L, KeyCode::KEY_9
  %autogen __KeyToKey__ KeyCode::MINUS,     MODIFIERFLAG_EITHER_LEFT_OR_RIGHT_OPTION,                             KeyCode::JIS_COLON
  %autogen __KeyToKey__ KeyCode::EQUAL,     MODIFIERFLAG_EITHER_LEFT_OR_RIGHT_OPTION,                             KeyCode::SEMICOLON

  /ぼごれよ！|ぐちュせめづ　　
  /上段 左手
  %autogen __KeyToKey__ KeyCode::Q, MODIFIERFLAG_EITHER_LEFT_OR_RIGHT_OPTION, KeyCode::MINUS, KeyCode::BRACKET_LEFT
  %autogen __KeyToKey__ KeyCode::W, MODIFIERFLAG_EITHER_LEFT_OR_RIGHT_OPTION, KeyCode::B, KeyCode::BRACKET_LEFT
  %autogen __KeyToKey__ KeyCode::E, MODIFIERFLAG_EITHER_LEFT_OR_RIGHT_OPTION, KeyCode::SEMICOLON
  %autogen __KeyToKey__ KeyCode::R, MODIFIERFLAG_EITHER_LEFT_OR_RIGHT_OPTION, KeyCode::KEY_9
  %autogen __KeyToKey__ KeyCode::T, MODIFIERFLAG_EITHER_LEFT_OR_RIGHT_OPTION, KeyCode::VK_STICKY_OPTION_R, KeyCode::VK_STICKY_SHIFT_L, KeyCode::KEY_1
  /上段 右手
  %autogen __KeyToKey__ KeyCode::Y, MODIFIERFLAG_EITHER_LEFT_OR_RIGHT_OPTION, KeyCode::H, KeyCode::BRACKET_LEFT
  %autogen __KeyToKey__ KeyCode::U, MODIFIERFLAG_EITHER_LEFT_OR_RIGHT_OPTION, KeyCode::A
  %autogen __KeyToKey__ KeyCode::I, MODIFIERFLAG_EITHER_LEFT_OR_RIGHT_OPTION, KeyCode::VK_STICKY_SHIFT_L, KeyCode::KEY_8
  %autogen __KeyToKey__ KeyCode::O, MODIFIERFLAG_EITHER_LEFT_OR_RIGHT_OPTION, KeyCode::P
  %autogen __KeyToKey__ KeyCode::P, MODIFIERFLAG_EITHER_LEFT_OR_RIGHT_OPTION, KeyCode::SLASH
  %autogen __KeyToKey__ KeyCode::BRACKET_LEFT, MODIFIERFLAG_EITHER_LEFT_OR_RIGHT_OPTION, KeyCode::Z, KeyCode::BRACKET_LEFT
  %autogen __KeyToKey__ KeyCode::BRACKET_RIGHT, MODIFIERFLAG_EITHER_LEFT_OR_RIGHT_OPTION, KeyCode::VK_NONE
  %autogen __KeyToKey__ KeyCode::BACKSLASH,     MODIFIERFLAG_EITHER_LEFT_OR_RIGHT_OPTION, KeyCode::VK_NONE

  /えあおがを|わらりみそぬ
  /中段 左手
  %autogen __KeyToKey__ KeyCode::A, MODIFIERFLAG_EITHER_LEFT_OR_RIGHT_OPTION, KeyCode::KEY_5
  %autogen __KeyToKey__ KeyCode::S, ModifierFlag::OPTION_L, KeyCode::KEY_3
  %autogen __KeyToKey__ KeyCode::S, ModifierFlag::OPTION_R, KeyCode::VK_STICKY_SHIFT_L, KeyCode::EQUAL
  %autogen __KeyToKey__ KeyCode::D, ModifierFlag::OPTION_L, KeyCode::KEY_6
  %autogen __KeyToKey__ KeyCode::F, ModifierFlag::OPTION_L, KeyCode::T, KeyCode::BRACKET_LEFT
  %autogen __KeyToKey__ KeyCode::F, ModifierFlag::OPTION_R, KeyCode::VK_STICKY_SHIFT_L, KeyCode::BRACKET_LEFT
  %autogen __KeyToKey__ KeyCode::G, MODIFIERFLAG_EITHER_LEFT_OR_RIGHT_OPTION, KeyCode::VK_STICKY_SHIFT_L, KeyCode::KEY_0
  /中段 右手
  %autogen __KeyToKey__ KeyCode::H,         MODIFIERFLAG_EITHER_LEFT_OR_RIGHT_OPTION, KeyCode::KEY_0
  %autogen __KeyToKey__ KeyCode::J,         MODIFIERFLAG_EITHER_LEFT_OR_RIGHT_OPTION, KeyCode::O
  %autogen __KeyToKey__ KeyCode::K,         ModifierFlag::OPTION_R, KeyCode::L
  %autogen __KeyToKey__ KeyCode::L,         ModifierFlag::OPTION_R, KeyCode::N
  %autogen __KeyToKey__ KeyCode::L,         ModifierFlag::OPTION_L, KeyCode::SHIFT_R
  %autogen __KeyToKey__ KeyCode::SEMICOLON, MODIFIERFLAG_EITHER_LEFT_OR_RIGHT_OPTION, KeyCode::C
  %autogen __KeyToKey__ KeyCode::QUOTE,     MODIFIERFLAG_EITHER_LEFT_OR_RIGHT_OPTION, KeyCode::KEY_1

  /ゆねげほろ|ャふやべび
  /下段 左手
  %autogen __KeyToKey__ KeyCode::Z, MODIFIERFLAG_EITHER_LEFT_OR_RIGHT_OPTION, KeyCode::KEY_8
  %autogen __KeyToKey__ KeyCode::X, MODIFIERFLAG_EITHER_LEFT_OR_RIGHT_OPTION, KeyCode::COMMA
  %autogen __KeyToKey__ KeyCode::C, MODIFIERFLAG_EITHER_LEFT_OR_RIGHT_OPTION, KeyCode::QUOTE, KeyCode::BRACKET_LEFT
  %autogen __KeyToKey__ KeyCode::V, MODIFIERFLAG_EITHER_LEFT_OR_RIGHT_OPTION, KeyCode::MINUS
  %autogen __KeyToKey__ KeyCode::B, MODIFIERFLAG_EITHER_LEFT_OR_RIGHT_OPTION, KeyCode::BACKQUOTE
  -# inputsource_only Google IME
  %autogen __KeyToKey__ KeyCode::B, MODIFIERFLAG_EITHER_LEFT_OR_RIGHT_OPTION, KeyCode::BACKQUOTE
  /下段 右手
  %autogen __KeyToKey__ KeyCode::N,     MODIFIERFLAG_EITHER_LEFT_OR_RIGHT_OPTION, KeyCode::VK_STICKY_SHIFT_L,  KeyCode::KEY_7
  %autogen __KeyToKey__ KeyCode::M,     MODIFIERFLAG_EITHER_LEFT_OR_RIGHT_OPTION, KeyCode::KEY_2
  %autogen __KeyToKey__ KeyCode::COMMA, MODIFIERFLAG_EITHER_LEFT_OR_RIGHT_OPTION, KeyCode::KEY_7
  %autogen __KeyToKey__ KeyCode::DOT,   MODIFIERFLAG_EITHER_LEFT_OR_RIGHT_OPTION, KeyCode::BACKSLASH, KeyCode::BRACKET_LEFT
  %autogen __KeyToKey__ KeyCode::SLASH, MODIFIERFLAG_EITHER_LEFT_OR_RIGHT_OPTION, KeyCode::V, KeyCode::BRACKET_LEFT
