!!! XML
%root
  %include(path='press_key.xml')
    %replacementdef
      %replacementname KEY
      %replacementvalue BACKQUOTE
  %include(path='press_key.xml')
    %replacementdef
      %replacementname KEY
      %replacementvalue KEY_1
  %include(path='press_key.xml')
    %replacementdef
      %replacementname KEY
      %replacementvalue KEY_2
  %include(path='press_key.xml')
    %replacementdef
      %replacementname KEY
      %replacementvalue KEY_3
  %include(path='press_key.xml')
    %replacementdef
      %replacementname KEY
      %replacementvalue KEY_4
  %include(path='press_key.xml')
    %replacementdef
      %replacementname KEY
      %replacementvalue KEY_5
  %include(path='press_key.xml')
    %replacementdef
      %replacementname KEY
      %replacementvalue KEY_6
  %include(path='press_key.xml')
    %replacementdef
      %replacementname KEY
      %replacementvalue KEY_7
  %include(path='press_key.xml')
    %replacementdef
      %replacementname KEY
      %replacementvalue KEY_8
  %include(path='press_key.xml')
    %replacementdef
      %replacementname KEY
      %replacementvalue KEY_9
  %include(path='press_key.xml')
    %replacementdef
      %replacementname KEY
      %replacementvalue KEY_0
  %include(path='press_key.xml')
    %replacementdef
      %replacementname KEY
      %replacementvalue MINUS
  %include(path='press_key.xml')
    %replacementdef
      %replacementname KEY
      %replacementvalue EQUAL
  %include(path='press_key.xml')
    %replacementdef
      %replacementname KEY
      %replacementvalue Q
  %include(path='press_key.xml')
    %replacementdef
      %replacementname KEY
      %replacementvalue W
  %include(path='press_key.xml')
    %replacementdef
      %replacementname KEY
      %replacementvalue E
  %include(path='press_key.xml')
    %replacementdef
      %replacementname KEY
      %replacementvalue R
  %include(path='press_key.xml')
    %replacementdef
      %replacementname KEY
      %replacementvalue T
  %include(path='press_key.xml')
    %replacementdef
      %replacementname KEY
      %replacementvalue Y
  %include(path='press_key.xml')
    %replacementdef
      %replacementname KEY
      %replacementvalue U
  %include(path='press_key.xml')
    %replacementdef
      %replacementname KEY
      %replacementvalue I
  %include(path='press_key.xml')
    %replacementdef
      %replacementname KEY
      %replacementvalue O
  %include(path='press_key.xml')
    %replacementdef
      %replacementname KEY
      %replacementvalue P
  %include(path='press_key.xml')
    %replacementdef
      %replacementname KEY
      %replacementvalue BRACKET_LEFT
  %include(path='press_key.xml')
    %replacementdef
      %replacementname KEY
      %replacementvalue BRACKET_RIGHT
  %include(path='press_key.xml')
    %replacementdef
      %replacementname KEY
      %replacementvalue BACKSLASH
  %include(path='press_key.xml')
    %replacementdef
      %replacementname KEY
      %replacementvalue A
  %include(path='press_key.xml')
    %replacementdef
      %replacementname KEY
      %replacementvalue S
  %include(path='press_key.xml')
    %replacementdef
      %replacementname KEY
      %replacementvalue D
  %include(path='press_key.xml')
    %replacementdef
      %replacementname KEY
      %replacementvalue F
  %include(path='press_key.xml')
    %replacementdef
      %replacementname KEY
      %replacementvalue G
  %include(path='press_key.xml')
    %replacementdef
      %replacementname KEY
      %replacementvalue H
  %include(path='press_key.xml')
    %replacementdef
      %replacementname KEY
      %replacementvalue J
  %include(path='press_key.xml')
    %replacementdef
      %replacementname KEY
      %replacementvalue K
  %include(path='press_key.xml')
    %replacementdef
      %replacementname KEY
      %replacementvalue L
  %include(path='press_key.xml')
    %replacementdef
      %replacementname KEY
      %replacementvalue SEMICOLON
  %include(path='press_key.xml')
    %replacementdef
      %replacementname KEY
      %replacementvalue QUOTE
  %include(path='press_key.xml')
    %replacementdef
      %replacementname KEY
      %replacementvalue Z
  %include(path='press_key.xml')
    %replacementdef
      %replacementname KEY
      %replacementvalue X
  %include(path='press_key.xml')
    %replacementdef
      %replacementname KEY
      %replacementvalue C
  %include(path='press_key.xml')
    %replacementdef
      %replacementname KEY
      %replacementvalue V
  %include(path='press_key.xml')
    %replacementdef
      %replacementname KEY
      %replacementvalue B
  %include(path='press_key.xml')
    %replacementdef
      %replacementname KEY
      %replacementvalue N
  %include(path='press_key.xml')
    %replacementdef
      %replacementname KEY
      %replacementvalue M
  %include(path='press_key.xml')
    %replacementdef
      %replacementname KEY
      %replacementvalue COMMA
  %include(path='press_key.xml')
    %replacementdef
      %replacementname KEY
      %replacementvalue DOT
  %include(path='press_key.xml')
    %replacementdef
      %replacementname KEY
      %replacementvalue SLASH
