!!! XML
%root
  -#{{JAPANESE_MOON_EXTRA}}
  %inputmode_only JAPANESE
  %not PASSWORD

  %block
    %lastpressedphysicalkey_only KeyCode::SHIFT_R
    %autogen __KeyToKey__ KeyCode::D, ModifierFlag::SHIFT_R,  KeyCode::VK_STICKY_OPTION_L, KeyCode::COMMA

  /薬指シフト

  -#/上段 左手 数字キー
  -#%autogen __KeyToKey__ KeyCode::BACKQUOTE, ModifierFlag::SHIFT_R, KeyCode::BACKQUOTE
  -#%autogen __KeyToKey__ KeyCode::KEY_1,     ModifierFlag::SHIFT_R, KeyCode::KEY_1
  -#%autogen __KeyToKey__ KeyCode::KEY_2,     ModifierFlag::SHIFT_R, KeyCode::KEY_2
  -#%autogen __KeyToKey__ KeyCode::KEY_3,     ModifierFlag::SHIFT_R, KeyCode::KEY_3
  -#%autogen __KeyToKey__ KeyCode::KEY_4,     ModifierFlag::SHIFT_R, KeyCode::KEY_4
  -#%autogen __KeyToKey__ KeyCode::KEY_5,     ModifierFlag::SHIFT_R, KeyCode::KEY_5
  -#/上段 右手 数字キー
  -#%autogen __KeyToKey__ KeyCode::KEY_6, ModifierFlag::SHIFT_R, KeyCode::KEY_6
  -#%autogen __KeyToKey__ KeyCode::KEY_7, ModifierFlag::SHIFT_R, KeyCode::KEY_7
  -#%autogen __KeyToKey__ KeyCode::KEY_8, ModifierFlag::SHIFT_R, KeyCode::KEY_8
  -#%autogen __KeyToKey__ KeyCode::KEY_9, ModifierFlag::SHIFT_R, KeyCode::KEY_9
  -#%autogen __KeyToKey__ KeyCode::KEY_0, ModifierFlag::SHIFT_R, KeyCode::KEY_0
  -#%autogen __KeyToKey__ KeyCode::MINUS, ModifierFlag::SHIFT_R, KeyCode::MINUS
  -#%autogen __KeyToKey__ KeyCode::EQUAL, ModifierFlag::SHIFT_R, KeyCode::EQUAL

  /ぢヴ　草・|
  /上段 左手
  %autogen __KeyToKey__ KeyCode::Q, ModifierFlag::SHIFT_R, KeyCode::A, KeyCode::BRACKET_LEFT
  %autogen __KeyToKey__ KeyCode::W, ModifierFlag::SHIFT_R, KeyCode::KEY_4, KeyCode::BRACKET_LEFT
  %autogen __KeyToKey__ KeyCode::E, ModifierFlag::SHIFT_R, KeyCode::VK_NONE
  %autogen __KeyToKey__ KeyCode::R, ModifierFlag::SHIFT_R, KeyCode::JIS_EISUU, KeyCode::W, KeyCode::W, KeyCode::W, KeyCode::JIS_KANA
  %autogen __KeyToKey__ KeyCode::T, ModifierFlag::SHIFT_R, KeyCode::VK_STICKY_SHIFT_L, KeyCode::SLASH
  -#/上段 右手
  -#%autogen __KeyToKey__ KeyCode::Y, ModifierFlag::SHIFT_R, KeyCode::Y
  -#%autogen __KeyToKey__ KeyCode::U, ModifierFlag::SHIFT_R, KeyCode::U
  -#%autogen __KeyToKey__ KeyCode::I, ModifierFlag::SHIFT_R, KeyCode::I
  -#%autogen __KeyToKey__ KeyCode::O, ModifierFlag::SHIFT_R, KeyCode::O
  -#%autogen __KeyToKey__ KeyCode::P, ModifierFlag::SHIFT_R, KeyCode::P
  -#%autogen __KeyToKey__ KeyCode::BRACKET_LEFT, ModifierFlag::SHIFT_R, KeyCode::BRACKET_LEFT
  -#%autogen __KeyToKey__ KeyCode::BRACKET_RIGHT, ModifierFlag::SHIFT_R
  -#%autogen __KeyToKey__ KeyCode::BACKSLASH,     ModifierFlag::SHIFT_R

  /ァィゥェォ|
  /中段 左手
  %autogen __KeyToKey__ KeyCode::A, ModifierFlag::SHIFT_R, KeyCode::VK_STICKY_SHIFT_L, KeyCode::KEY_3
  %autogen __KeyToKey__ KeyCode::S, ModifierFlag::SHIFT_R, KeyCode::VK_STICKY_SHIFT_L, KeyCode::E
  %autogen __KeyToKey__ KeyCode::D, ModifierFlag::SHIFT_R, KeyCode::VK_STICKY_SHIFT_L, KeyCode::KEY_4
  %autogen __KeyToKey__ KeyCode::F, ModifierFlag::SHIFT_R, KeyCode::VK_STICKY_SHIFT_L, KeyCode::KEY_5
  %autogen __KeyToKey__ KeyCode::G, ModifierFlag::SHIFT_R, KeyCode::VK_STICKY_SHIFT_L, KeyCode::KEY_6
  -#/中段 右手
  -#%autogen __KeyToKey__ KeyCode::H,         ModifierFlag::SHIFT_R, KeyCode::H
  -#%autogen __KeyToKey__ KeyCode::J,         ModifierFlag::SHIFT_R, KeyCode::J
  -#%autogen __KeyToKey__ KeyCode::K,         ModifierFlag::SHIFT_R, KeyCode::K
  -#%autogen __KeyToKey__ KeyCode::L,         ModifierFlag::SHIFT_R, KeyCode::L
  -#%autogen __KeyToKey__ KeyCode::SEMICOLON, ModifierFlag::SHIFT_R, KeyCode::SEMICOLON
  -#%autogen __KeyToKey__ KeyCode::QUOTE,     ModifierFlag::SHIFT_R, KeyCode::QUOTE

  /＜＞（）…|
  /下段 左手
  %autogen __KeyToKey__ KeyCode::Z, ModifierFlag::SHIFT_R, KeyCode::VK_STICKY_SHIFT_L, KeyCode::VK_STICKY_OPTION_R, KeyCode::COMMA
  %autogen __KeyToKey__ KeyCode::X, ModifierFlag::SHIFT_R, KeyCode::VK_STICKY_SHIFT_L, KeyCode::VK_STICKY_OPTION_R, KeyCode::DOT
  %autogen __KeyToKey__ KeyCode::C, ModifierFlag::SHIFT_R, KeyCode::VK_STICKY_SHIFT_L, KeyCode::VK_STICKY_OPTION_R, KeyCode::KEY_9
  %autogen __KeyToKey__ KeyCode::V, ModifierFlag::SHIFT_R, KeyCode::VK_STICKY_SHIFT_L, KeyCode::VK_STICKY_OPTION_R, KeyCode::KEY_0
  %autogen __KeyToKey__ KeyCode::B, ModifierFlag::SHIFT_R, KeyCode::JIS_EISUU, KeyCode::VK_STICKY_OPTION_R, KeyCode::SEMICOLON, KeyCode::JIS_KANA
  -#/下段 右手
  -#%autogen __KeyToKey__ KeyCode::N,     ModifierFlag::SHIFT_R, KeyCode::N
  -#%autogen __KeyToKey__ KeyCode::M,     ModifierFlag::SHIFT_R, KeyCode::M
  -#%autogen __KeyToKey__ KeyCode::COMMA, ModifierFlag::SHIFT_R, KeyCode::COMMA
  -#%autogen __KeyToKey__ KeyCode::DOT,   ModifierFlag::SHIFT_R, KeyCode::DOT
  -#%autogen __KeyToKey__ KeyCode::SLASH, ModifierFlag::SHIFT_R, KeyCode::SLASH
